ListView {
    margin: 0;
    opacity: 0;
}
Label {
    padding: 5;
    horizontal-align: left;
    vertical-align: center;
    width: 1000%;
}
TextField {
    border: 0;
    border-bottom: none;
}

GridLayout {
    border: 0;
    border-bottom: none;
}



.child {
    font-size: 18;
    
    border-top-style: solid;
    background-color: #3598db;
}

.list {
    font-size: 18;
    padding-top: 2;
}


.head {
    font-size: 18;
    background-color: #3598db;
    background-color: #898989;
    background-color: #02318b;
    background-color: #88D2DF;
    color: white;
    margin: 0;
    padding: 8 5 0 30;
    height: 40;
    
    
}

