ListView {
    margin: 1;
    opacity: 0;
}

Label {
    padding: 10;
    horizontal-align: left;
    vertical-align: center;
}

TextField {
    border-style: solid;
    border-color: #034793;
}

GridLayout {
    margin: 5;
    border: none;
}

.subtotal {
    width: 100%;
    color: #88888;
    margin: 5;
    margin-top: 20;
    background-color: lightgray;
}
