ListView {
    margin: 0;
    opacity: 0;
}
Label {
    margin: 5;
    padding: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 5;
    border-style: solid;
    border-color: #034793;
}
GridLayout {
    margin: 0;
}

.head {
    background-image: none;    
}
    
.gridsubtotal, .subtotal {
    width: 1000%;
    color: #88888;
    margin-top: 20;
    background-color: #88D2DF;

}

.gridsubtotal {
    background-color: #73CCDA;
    color: white;   
}

.gridtitle, .gridsubtitle {
    background-color: #73CCDA;
    color: white;
    margin: 0;
    height: 50;
    width: 1000;
}


.gridspace {
    background-color: #73CCDA;
    height: 1000;
}

.gridhead {
    color: black;
    margin: 0;
}
.subtitle {
    margin: 0;
    height: 30;
    padding: 0;
}

.head {
    background-color: #ededed;
    margin-top: .3;
    margin-bottom: .3;
}
