@import { url('~/platform.css') };


.title {
    text-align: center;
    margin: 20;
    
}

.textfield_label {
    text-align: left;
    margin-left: 5;
}


.textfield_dollar {
    text-align: left;
    margin-left: 5;
    border-bottom: 1 black solid;
}



.textfield {
    width: 100%;
    text-align: left;
    border-bottom: 1 black solid;
}

button {
    margin-top: 10;
    horizontal-align: center;
}

.message {
    color: #284848;
    horizontal-align: center;
}

.custom-actionbar {
    color:white;
    background-color: #e3e3e3;
}

.head {
    width: 100%;
    background-color: #3598db;
    color: white;
    margin-top: 20;
}

.send {
    color: darkslategray;
}

.waiting {
    color: midnightblue;
}


.send, .waiting {
    color: gray;
}

.accepted, .accepted_ {
    color: forestgreen;    
}

.rejected, .rejected_ {
    color: darkred;
}

.waiting_, .send_  {
    color: lightgray;
}


.hide {
    height: 1;
    visibility: collapse;
    visibility: collapsed;
    visibility: hidden;
}


Label {
    font-size: 10;
}

.custom-actionbar {
    background-image: url('~/res/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}



.title {
    font-size: 17;
    
}

.textfield_label {
    font-size: 10;
}


.textfield_dollar {
    font-size: 10;
}

.textfield {
    font-size: 10;
}

